/* Resets */


/* Menu */
.menu{
    display: flex;
    padding: 1em;
}

#menu-items{
    gap: 3em;
    list-style: none;
    display: flex;
    margin-left: 40em
}

.menu-item{
    text-decoration: none;
    display: block;
    padding-top: 1em;
    font-family: var(--font-regular);
    font-size: 1.5em;
    color: var(--color-neutral);
}

#contactus{
    color: var(--color-secondary);
    font-weight: bold;
}

#menu-logo{
    display: inline-flex;
}